includes:
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.generics
            path: src/Filter/Naming.php
